<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SortArray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4860A63C1D81CD0B00B60113</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4860A6581D81CD0B00B60113</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4860A6631D81CD0B00B60113</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
